:root {
  --header-main-text-color: rgba(255, 255, 255, 1);
  --project-grey: rgba(247, 247, 247, 1);
  --project-orange: rgba(255, 107, 8, 1);
  --project-black: rgba(0, 0, 0, 1);
  --project-red: rgba(255, 0, 27, 1);
}
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/inter/v12/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa2JL7W0Q5n-wU.woff2)
    format("woff2");
}
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/roboto/v27/KFOlCnqEu92Fr1MmSU5fBBc4AMP6lQ.woff2)
    format("woff2");
}
