<header class="main-header">
  <div class="main-header__container">
    <div class="main-header__menu">
      <div class="main-header__title-wrapper">
        <a href="/" class="main-header__link"
          ><svg
            class="main-header__logo"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            xmlns="http://www.w3.org/2000/svg"
          >
            <use href="public/icons.svg#icon-film"></use>
          </svg>
        </a>
        <h1>Filmoteka</h1>
      </div>

      <nav class="main-header__nav">
        <a class="main-header__link" href="/">Home</a>
        <a class="main-header__link" href="./library.html">My Library</a>
      </nav>
    </div>
    <form class="search-form" action="">
      <input
        class="search-form__input"
        placeholder="Movie search"
        type="text"
      /><button class="search-form__button">
        <svg width="12" height="12">
          <use href="public/icons.svg#icon-search-2"></use>
        </svg>
      </button>
    </form>
  </div>
</header>
