<section class="section-films">
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
  <div class="film-card">
    <img class="film-card__img" src="public/AquarelaIMG.jpg" alt="" />
    <div class="film-card__text-wrapper">
      <h4 class="film-card__title">aquarela</h4>
      <span class="film-card__tags">documentary,drama,other | 2019</span>
    </div>
  </div>
</section>
